<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.prantikv.configTEST"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>configTEST</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="https://www.prantikv.com" email="desimemeapp@gmail.com">
       Prantik Vaghela
    </author>
    <gap:platform name="android" />
<preference name="fullscreen" value="true" />
<preference name="orientation" value="portrait" />
<preference name="android-minSdkVersion" value="17" />

<icon src="reso/phoneicons/android/res/drawable-ldpi/Icon.png" gap:platform="android" gap:qualifier="ldpi" />
<icon src="reso/phoneicons/android/res/drawable-mdpi/Icon.png" gap:platform="android" gap:qualifier="mdpi" />
<icon src="reso/phoneicons/android/res/drawable-hdpi/Icon.png" gap:platform="android" gap:qualifier="hdpi" />
<icon src="reso/phoneicons/android/res/drawable-xhdpi/Icon.png" gap:platform="android" gap:qualifier="xhdpi" />

</widget>
